<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>Remover Tarefa</h2>

    <form method="post">
      {% csrf_token %}
      <p>Você tem certeza que deseja remover a tarefa "{{ object }}"?</p>
      <input type="submit" value="Confirmar">
    </form>
  
    <a href="{% url 'lista_tarefas' %}">Cancelar</a>
</body>
</html>